body{
  font-size: 16px;
  font-family: "Livvic", sans-serif;
  font-style: normal;
}


.button{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 9px 33px 11px;
  border: 2px solid #FFF;
  border-radius: 24px;

}